.container {
  padding: 30px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
}

.search-bar {
  padding: 10px;
  width: 300px;
  margin-bottom: 25px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 25px;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-8px);
}

/* IMAGE */
.card img {
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* TITLE */
.card-title {
  font-size: 14px;
  height: 40px;
  overflow: hidden;
}

/* PRICE */
.price {
  font-weight: bold;
  margin: 10px 0;
  color: #16a34a;
}

/* BUTTON */
.add-btn {
  padding: 10px;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  transition: 0.3s;
}

.add-btn:hover {
  background: #2563eb;
}